@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header-section {
  width: 1440px;
  height: 652px;
  background-image: url(../assets/Hero-bg.png);
  margin: 0 auto;
}
.header-img-container {
  width: 15.0175rem;
  height: 15rem;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 32px;
}
.header-text-container h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
  width: 62.375rem;
  height: 8.5rem;
  letter-spacing: 0%;
  margin: 0 auto;
}
.header-text-container p {
  font-size: 16px;
  font-weight: 400;
  width: 53.25rem;
  height: 3.25rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  color: rgb(13, 19, 33);
  opacity: 0.7;
}
.contact-btn {
  width: 13rem;
  height: 4.125rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4375rem;
  padding: 1.3125rem 1.5rem;
  border-radius: 0.5rem;
  background-color: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  margin: 3rem 38.5rem 2rem 38.5rem;
}
.contact-btn a {
  text-decoration: none;
  color: white;
}

/* reason section styles*/
.Reason-section-container {
  width: 71.25rem;
  height: 75rem;
  background-color: rgba(13, 19, 33, 0.02);
  margin: 0 auto;
  margin-top: 4.625rem;
}
.reason-section {
  width: 59.125rem;
  height: 70.2rem;
  margin: 5rem 6.0625rem;
}
.reason-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.reason-text-container h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.3125rem;
  color: black;
  width: 53.25rem;
  height: 2.3125rem;
}
.reason-text-container p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  width: 53.25rem;
  height: 3.25rem;
  margin-top: 1.5625rem;
  color: rgb(13, 19, 33);
  opacity: 0.7;
}
/* purpose styles */
.purpose-container1 {
  width: 53.125rem;
  height: 15rem;
  margin: 0 auto;
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
}
.purpose1-text-container {
  width: 29.8125rem;
}
.purpose1-text-container h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: rgba(13, 19, 33, 0.7);
  text-align: left;
}
.purpose1-text-container p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 1rem;
  color: rgb(13, 19, 33);
  opacity: 0.7;
}

#learn1-btn {
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  margin-top: 5rem;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}

.purpose-container2 {
  width: 53.125rem;
  height: 15rem;
  margin: 0 auto;
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
}
.purpose2-text-container {
  width: 29.8125rem;
}
.purpose2-text-container h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: rgba(13, 19, 33, 0.7);
  text-align: left;
}
.purpose2-text-container p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 1rem;
  color: rgb(13, 19, 33);
  opacity: 0.7;
}
#learn2-btn {
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  margin-top: 2.76rem;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}
.purpose-container3 {
  width: 53.125rem;
  height: 15rem;
  margin: 0 auto;
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
}
.purpose3-text-container {
  width: 29.8125rem;
}
.purpose3-text-container h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: rgba(13, 19, 33, 0.7);
  text-align: left;
}
.purpose3-text-container p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 1rem;
  color: rgb(13, 19, 33);
  opacity: 0.7;
}
#learn3-btn {
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  margin-top: 5rem;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}
/* inspiration style */
.inspiration-section {
  width: 71.25rem;
  height: 48.4375rem;
  margin: 0 auto;
  margin-top: 6rem;
}
.inspiration-text {
  width: 53.25rem;
  height: 7.0625rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.inspiration-text h1 {
  color: rgb(13, 19, 33);
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.3125rem;
  text-align: center;
}
.inspiration-text p {
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 2.3125rem;
  opacity: 0.7;
}
.inspiration-video {
  width: 67.25rem;
  height: 34.375rem;
  margin: 0 auto;
}
.iframe {
  border-radius: 10px;
}
/* target section style */
.current-target-container {
  width: 71.25rem;
  height: 28.75rem;
  margin: 0 auto;
  margin-bottom: 6.9375rem;
}
.current-target-text {
  width: 53.25rem;
  height: 7.0625rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.current-target-text h2 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.3125rem;
  text-align: center;
}
.current-target-text p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-top: 1.5rem;
  opacity: 0.7;
}
.target-card-container {
  display: flex;
  justify-content: space-between;
}
.card-cover1 {
  width: 22.75rem;
  height: 18.6875rem;
  background-color: rgba(255, 76, 30, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
}
.card1 {
  width: 17.75rem;
  height: 13.6875rem;
}
.card1 img {
  margin-bottom: 1.5rem;
}
.card1 h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.25rem;
  color: rgb(13, 19, 33);
  text-align: left;
}
.card1 p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-align: left;
  margin-bottom: 1.5rem;
  opacity: 0.7;
}
.card1 a {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1875rem;
  color: rgb(13, 19, 33);
}
.card-cover2 {
  width: 22.75rem;
  height: 18.6875rem;
  background-color: rgba(0, 76, 232, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
}
.card2 {
  width: 17.75rem;
  height: 13.6875rem;
}
.card2 img {
  margin-bottom: 1.5rem;
}
.card2 h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.25rem;
  color: rgb(13, 19, 33);
  text-align: left;
}
.card2 p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-align: left;
  margin-bottom: 1.5rem;
  opacity: 0.7;
}
.card2 a {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1875rem;
  color: rgb(13, 19, 33);
}
.card-cover3 {
  width: 22.75rem;
  height: 18.6875rem;
  background-color: rgba(255, 223, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
}
.card3 {
  width: 17.75rem;
  height: 13.6875rem;
}
.card3 img {
  margin-bottom: 1.5rem;
}
.card3 h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.25rem;
  color: rgb(13, 19, 33);
  text-align: left;
}
.card3 p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-align: left;
  margin-bottom: 1.5rem;
  opacity: 0.7;
}
.card3 a {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1875rem;
  color: rgb(13, 19, 33);
}
/* next target style */
.next-target-section {
  width: 71.25rem;
  height: 54.125rem;
  margin: 0 auto;
  margin-bottom: 3.0625rem;
}
.next-target-text {
  width: 53.25rem;
  height: 7.0625rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.next-target-text h2 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.3125rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: rgb(13, 19, 33);
}
.next-target-text p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-align: center;
  color: rgb(13, 19, 33);
  opacity: 0.7;
}
.react-container {
  width: 71.25rem;
  height: 13.6875rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.react-icon {
  width: 5.875rem;
  height: 5.275625rem;
}
.react-text {
  width: 58.82625rem;
  height: 8.6875rem;
}
.react-text h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.25rem;
  margin-bottom: 0.5rem;
  text-align: left;
}
.react-text p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-align: left;
  margin-bottom: 1.5rem;
  opacity: 0.7;
}
.react-text a {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1875rem;
  color: rgb(13, 19, 33);
}
.node-container {
  width: 71.25rem;
  height: 13.6875rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.node-icon {
  width: 8.95625rem;
  height: 5.484375rem;
}
.node-text {
  width: 58.82625rem;
  height: 8.6875rem;
}
.node-text h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.25rem;
  margin-bottom: 0.5rem;
  text-align: left;
}
.node-text p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-align: left;
  margin-bottom: 1.5rem;
  opacity: 0.7;
}
.node-text a {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1875rem;
  color: rgb(13, 19, 33);
}
.mongo-container {
  width: 71.25rem;
  height: 13.6875rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mongo-icon {
  width: 6.75rem;
  height: 6.75rem;
}
.mongo-text {
  width: 58.82625rem;
  height: 8.6875rem;
}
.mongo-text h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.25rem;
  margin-bottom: 0.5rem;
  text-align: left;
}
.mongo-text p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-align: left;
  margin-bottom: 1.5rem;
  opacity: 0.7;
}
.mongo-text a {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1875rem;
  color: rgb(13, 19, 33);
}
/* support section style */
.support-section {
  width: 71.25rem;
  height: 19.5625rem;
  margin: 0 auto;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../assets/handshake.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  margin-bottom: 6rem;
}
.support-text h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: white;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.support-text p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: rgb(255, 255, 255);
}
.form-container {
  width: 42.75rem;
  height: 3.5625rem;
  margin: 0 auto;
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
}
.form-container form input {
  width: 34.25rem;
  height: 3.5625rem;
  border-radius: 0.6rem;
  font-size: 1rem;
  text-align: center;
}
.submit-btn {
  width: 7.5rem;
  height: 3.5625rem;
  border-radius: 0.6rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4375rem;
}
/* footer section style */
footer {
  width: 90rem;
  height: 6.25rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(13, 19, 33, 0.03);
}
.footer-container {
  width: 71.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-text {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4375rem;
}
.footer-icons {
  width: 9.813125rem;
  height: 2.25rem;
  display: flex;
  justify-content: space-between;
}
